.container {
  flex-basis: 50%;
}

.user-info-container {
  display: flex;
  max-width: 75em;
  min-height: 40em;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.32);
  border-radius: 5px;
}

.left {
  padding: 2em;
  border-right: 1px solid rgba(61, 76, 83, 0.32);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  header {
    display: flex;

    .img-container {
      max-width: 150px;
      max-height: 150px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 2em;

      img {
        display: block;
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }

    div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    div h2 {
      font-size: 3em;
    }

    div h2:before {
      content: '@';
    }
  }

  section {
    display: flex;
    justify-content: space-evenly;

    div {
      text-align: center;
      font-size: 2em;
    }
  }

  footer {
    text-align: center;
  }
}

.right {
  padding: 2em;

  mat-list-item {
    outline: none;
  }

  .buttons {
    display: flex;

    button {
      margin: 0 1em;
    }
  }

}
