.user-info-container {
  display: flex;
  padding: 0 2em;

  .container {
    border: 1px solid rgba(128, 128, 128, 0.51);
    border-radius: 4px;
    flex-basis: 50%;
    margin: 1em;
    overflow: hidden;
  }
}

.left {
  padding: 2em;
  header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);

    h1 {
      text-decoration: underline;
      font-style: italic;
    }

    .bold {
      font-weight: bold;
    }
  }

  section {
    padding: 1em;

    input {
      display: block;
      padding: 0.5em;
      width: 97%;
      margin: 0.5em 0;
    }

    label {
      font-weight: 600;
    }

    button {
      margin-top: 0.5em;
    }
  }
}

input.ng-valid {
  border: 1px solid #42A948; /* green */
}

input.ng-invalid.ng-touched {
  border: 1px solid #A94442; /* red */
}

.invalid {
  color: #A94442;
}

.success {
  margin-left: 2em;
  color: #42A948;
}

.right {
  padding: 2em;
}

mat-list-item {
  outline: none;
}

.buttons {
  display: flex;

  button {
    margin: 0 1em;
  }
}
