<div class="user-info-container" *ngIf="userInfo">
  <div class="left container">
    <header>
      <h1>Logged as: <span class="bold">{{userInfo.username}}</span></h1>
      <button mat-raised-button color="warn">Logout</button>
    </header>
    <section>
      <form [formGroup]="newUserInfoFormGroup" (ngSubmit)="updateUserInfo()">
        <div class="formField">
          <label for="email">New email address:</label>
          <input type="email" id="email" formControlName="email" placeholder="pesho@example.com">
          <p *ngIf="newUserInfoFormGroup.controls.email.invalid && newUserInfoFormGroup.controls.email.touched" class="invalid">{{getErrorMessage('email')}}</p>
        </div>
        <div class="formField">
          <label for="password">New password:</label>
          <input type="password" id="password" formControlName="password" placeholder="********">
          <p *ngIf="newUserInfoFormGroup.controls.password.invalid && newUserInfoFormGroup.controls.password.touched">{{getErrorMessage('password')}}</p>
        </div>
        <div class="formField">
          <label for="confirmPassword">Repeat new password:</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="********">
          <p *ngIf="newUserInfoFormGroup.controls.confirmPassword.invalid && newUserInfoFormGroup.controls.confirmPassword.touched">{{getErrorMessage('confirmPassword')}}</p>
        </div>
        <p *ngIf="newUserInfoFormGroup?.hasError('passwords-doesnt-match')" class="invalid">Passwords doesnt match</p>
        <button mat-raised-button color="primary" [disabled]="newUserInfoFormGroup.invalid">Confirm changes</button>
        <span *ngIf="successMessage" class="success">{{successMessage}}</span>
      </form>
    </section>
  </div>
  <div class="right container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Your favorite books
          </mat-panel-title>
          <mat-panel-description>
            Books you liked
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list *ngIf="likedBooks">
          <mat-list-item *ngFor="let book of likedBooks" [routerLink]="['/books', book._id]">
            <mat-icon mat-list-icon>thumb_up_alt</mat-icon>
            <h4 mat-line>{{book.title}}</h4>
          </mat-list-item>
        </mat-list>
        <h3 *ngIf="!likedBooks">You don't have favorite books :(</h3>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Your books
          </mat-panel-title>
          <mat-panel-description>
            Books you loaded
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list *ngIf="addedBooks">
          <mat-list-item *ngFor="let book of addedBooks" [routerLink]="['/books', book._id]">
            <mat-icon mat-list-icon>book</mat-icon>
            <h4 mat-line>{{book.title}}</h4>
          </mat-list-item>
        </mat-list>
        <h3 *ngIf="!addedBooks">You don't have books added. You can add a book from button in navigation menu!</h3>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
