<div class="user-info-container" *ngIf="userInfo">
  <div class="left container">
    <header>
      <div class="img-container">
        <img [src]="userInfo.avatarUrl || defaultAvatarUrl" alt="avatar">
      </div>
      <div class="bold">
        <h2 class="username">{{userInfo.username}}</h2>
        <h3 class="email">{{userInfo.email}}</h3>
        <h4 class="date">{{userInfo.birthday}}</h4>
      </div>
    </header>
    <section>
      <div class="likes counter">
        <h2>Likes:</h2>
        <div>{{(likedBooks | async)?.length || 0}}</div>
      </div>
      <div class="added counter">
        <h2>Added:</h2>
        <div>{{(addedBooks | async)?.length || 0}}</div>
      </div>
    </section>
    <footer>
      <button mat-raised-button color="accent" [routerLink]="['/user', userInfo._id, 'edit']">Edit profile</button>
    </footer>
  </div>
  <div class="right container">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Your favorite books
          </mat-panel-title>
          <mat-panel-description>
            Books you liked
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list *ngIf="likedBooks">
          <mat-list-item *ngFor="let book of likedBooks | async">
            <mat-icon mat-list-icon>stars</mat-icon>
            <h4 mat-line>{{book.title}}</h4>
          </mat-list-item>
        </mat-list>
        <h3 *ngIf="!(likedBooks | async)">You don't have favorite books :(</h3>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Your books
          </mat-panel-title>
          <mat-panel-description>
            Books you loaded
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list *ngIf="addedBooks">
          <mat-list-item *ngFor="let book of addedBooks | async">
            <mat-icon mat-list-icon>book</mat-icon>
            <h4 mat-line>{{book.title}}</h4>
            <div class="buttons">
              <button mat-raised-button color="accent">Edit</button>
              <button mat-raised-button color="warn">Delete</button>
            </div>
          </mat-list-item>
        </mat-list>
        <h3 *ngIf="!(addedBooks | async)">You don't have books added. You can add a book from button in navigation
          menu!</h3>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
