<main>
  <h1>{{name}}</h1>
  <img class="cube"
    src="https://ae01.alicdn.com/kf/HTB1CSddXRxRMKJjy0Fdq6yifFXa6/Gan-356-Air-SM-3x3-Black-Magic-cube-GAN-Air-SM-Magnetic-3x3x3-Speed-cube-gans.jpg">
  <div class="details">
    <p><span>Description:</span> {{description}}</p>
    <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
    <a class="btn" href="/">Back</a>
  </div>
</main>