<div class="add-book-container" [formGroup]="createBookForm">
  <h1>Create Book</h1>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <label>
      <input matInput type="text" placeholder="Enter title" formControlName="title">
    </label>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Image URL</mat-label>
    <label>
      <input matInput type="text" placeholder="Enter image URL" formControlName="imageUrl">
    </label>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <mat-select formControlName="author">
      <mat-option>Clear</mat-option>
      <mat-option *ngFor="let author of authors" [value]="author">{{author.fullName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <label>
      <textarea matInput rows="20" formControlName="description"></textarea>
    </label>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="handleCreate()" [disabled]="!createBookForm.valid">Create Book</button>
</div>
